<a href="https://colab.research.google.com/github/prof-programmer/learn_data_sciense/blob/main/Pandas__10_Series_elementlarini_tanlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Indekslash, qator (ustun) tanlash, filtrlash**

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Yil' : [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
    'Aholi soni' : [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
    'Temp' : [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
    'Zichlik' : [79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]
}
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [13]:
data = df['Aholi soni'] # ustunni Series obyekti ko'rinishida qaytaradi
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

In [6]:
type(data)

pandas.core.series.Series

Endi agar o'sha ustunni aynan DataFrame ko'rinishida olmoqchi bo'lsak, df[['Ustun nomi']] ko'rinishida olsak bo'ladi.

Farqi bor yo'g'i to'rtburchak qavs 2 marta ishlatilganida

In [10]:
data2 = df[['Aholi soni']] # bu endi bizga ustunni DataFrame ko'rinishda qaytardi
data2

   Aholi soni
0        33.9
1        33.5
2        32.9
3        32.5
4        31.9
5        31.4
6        30.9
7        28.5

In [11]:
type(data2)

pandas.core.frame.DataFrame

Series ustida amallar bajarib ko'raylik

In [15]:
data[0]

33.9

In [16]:
type(data[0])

numpy.float64

In [17]:
data[[0]]

0    33.9
Name: Aholi soni, dtype: float64

In [18]:
type(data[[0]])

pandas.core.series.Series

In [19]:
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

**Seriesda bir nechta indeksni ajratib olmoqchi bo'lsak quyidagicha bajariladi**

In [20]:
data[0:4]

0    33.9
1    33.5
2    32.9
3    32.5
Name: Aholi soni, dtype: float64

Aynan bir nechta ketma-ket bo'lmagan indekslarni ajratib olish

In [21]:
data[[2, 3, 5]]

2    32.9
3    32.5
5    31.4
Name: Aholi soni, dtype: float64

**Keling yana bir misol ko'ramiz**

Series obyekt yarataylik

In [22]:
obj = pd.Series(np.arange(8.), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [23]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [24]:
obj['a']

0.0

In [25]:
obj[['a']]

a    0.0
dtype: float64

In [26]:
obj[0:4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [28]:
obj['a':'f'] # a dan f gacha

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [29]:
obj['c':'h']

c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

Indekslar orqali bir nechta qatorni Series da chiqarmoqchi bo'lsak indekslar o'sib borish tartibida bo'lishi kerak.

Ya'ni agar indekslar son ko'rinishida bo'lsa: 1,2,3,4, ... 55, 56, 59 kabi
Agar harf ko'rinishida bo'lsa: 'a', 'b', ... 's', 't' kabi

In [30]:
obj['f': 'c'] # bu ko'rinishda natija bo'sh chiqadi

Series([], dtype: float64)

In [33]:
obj[1:5] # indekslarga tartib raqami orqali murojaat
# qilyapmiz (indekslar harf ko'rinishida bo'lsa ham)

b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [34]:
obj['a':'c'] = 15 # a, b, c indeksli qatorlarni 15 qiymat berdik

In [35]:
obj

a    15.0
b    15.0
c    15.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

**Filtrlash**

Qiymati 15 dan kichkina qatorlarni chiqaraylik

In [36]:
obj[obj<15]

d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [38]:
obj[obj==15] # 15 ga teng qatorlarni chiqarish

a    15.0
b    15.0
c    15.0
dtype: float64

In [39]:
obj [obj<7]

d    3.0
e    4.0
f    5.0
g    6.0
dtype: float64